.custom-haojen-container .post-preview:nth-of-type(1),
.custom-haojen-container .post-preview-poetry:nth-of-type(1){
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-size: cover;
    padding:0;
    height: 300px;
    display: table;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.16);
}

/*去掉诗歌的背景图片*/
.custom-haojen-container .post-preview-poetry:nth-of-type(1){
    background-image: none!important;
    background-color: rgba(255, 248, 220, 0.5);
}

.custom-haojen-container .post-preview:nth-child(1) h2,
.custom-haojen-container .post-preview:nth-child(1) .post-meta,
.custom-haojen-container .post-preview:nth-child(1) .post-subtitle {
    text-shadow: 0 0 40px rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    color: #fff;
    font-family: unset;
    font-weight: 500;
    margin-top: 0;
    padding-left: 60px;
    padding-right: 60px;
}

.custom-haojen-container .post-preview:nth-child(1) .post-meta{
    font-size: .9em;
    font-weight: 300;
    margin-top: 0;
}
.custom-haojen-container .post-preview-poetry:nth-child(1) .post-subtitle{
    letter-spacing: 6px;
    font-size: 18px;
    font-family: unset;
    font-weight: 400;
    color: rgba(0,0,0,.75)
}
/*不显示摘要*/
.custom-haojen-container .post-preview:nth-child(1) .post-content-preview{display: none}
/*只第一个显示背景图片*/
.custom-haojen-container .post-preview:not(:nth-child(1)){
    background-image: none!important;
}
/*第一个分界线去掉*/
.custom-haojen-container hr:nth-of-type(1){
    display: none;
}
/*主题*/
.custom-haojen-container .post-preview:nth-of-type(1)>a{
    display: table-cell;
    vertical-align: middle;
}
/*诗词标题*/
.custom-haojen-container .post-preview-poetry:nth-child(1) h2{
    font-size: 35px;
    font-family:  STKaiti;
    color: rgba(0,0,0,.8);
}
.custom-haojen-container .post-preview-poetry:nth-of-type(1) .post-meta{
    color: #0e2231;
}
@media (max-width: 768px)  {
    .custom-haojen-container .post-preview:nth-child(1) {
        height: 240px;
    }
    .custom-haojen-container .post-preview-poetry:nth-child(1) h2{
        font-size: 28px!important;
        margin-top: 0;
    }
    .custom-haojen-container .post-preview:nth-child(1) .post-subtitle{
        font-size: 18px;
        font-weight:400;
        padding-left: 0;padding-right: 0;
    }
    .custom-haojen-container .post-preview:nth-of-type(1) > a{padding: 20px}
}

/*手机屏幕*/
@media (max-width: 400px){
    .custom-haojen-container .post-preview:nth-child(1){
        height: 195px;
    }
    .custom-haojen-container .post-preview-poetry:nth-child(1) h2{
        font-size: 20px!important;
    }
    .custom-haojen-container .post-preview:nth-child(1) .post-subtitle{
        font-size: 16px;
    }
    .custom-haojen-container .post-preview:nth-child(1) a{
        padding: 30px 20px;
    }
}
