/* Specialized style of preview of the first post/poetry */

.custom-haojen-container {
    .post-preview, .post-preview-poetry {
        &:first-of-type {
            text-align: center;
            background-repeat: no-repeat;
            border-radius: 3px;
            background-size: cover;
            padding:0;
            height: 300px;
            display: table;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.16);
        }
    }
    /*去掉诗歌的背景图片*/
    .post-preview-poetry #first-post {
        background-image: none!important;
        background-color: rgba(255, 248, 220, 0.5);
    }
    .post-preview #first-post {
        /*主题*/
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        .post-title, .post-meta, .post-subtitle {
            text-shadow: 0 0 40px rgba(0, 0, 0, 1);
            letter-spacing: 1px;
            color: #fff;
            font-weight: 500;
            margin-top: 0;
            padding-left: 60px;
            padding-right: 60px;
        }
        .post-meta {
            font-size: .8em;
            font-weight: 300;
            margin-top: 0;
        }
        .post-title {
            @media only screen and (min-width: 768px) {
                font-size: 26px;
                line-height: 1.3;
            }
        }
        /*不显示摘要*/
        .post-content-preview {display: none;}
    }
    .post-preview-poetry #first-post {
        .post-subtitle {
            letter-spacing: 6px;
            font-size: 18px;
            font-family: unset;
            font-weight: 400;
            color: rgba(0,0,0,.75)
        }
        /*诗词标题*/
        .post-title {
            font-size: 35px;
            font-family:  $TitleFont;
            color: rgba(0,0,0,.8);
        }
        .post-meta {color: #0e2231;}
    }
}

@media (max-width: 768px) {
    .custon-haojen-container {
        .post-preview #first-post {
            padding: 20px;
            height: 240px;
            .post-subtitle {
                font-size: 18px;
                font-weight:400;
                padding-left: 0;
                padding-right: 0;
            }
        }
        .post-preview-poetry #first-post .post-title {
            font-size: 28px!important;
            margin-top: 0;
        }
    }
}

/*手机屏幕*/
@media (max-width: 400px) {
    .custom-haojen-container {
        .post-preview #first-post {
            height: 195px;
            .post-subtitle {font-size: 16px;}
            .align-center {padding: 30px 20px;}
        }
        .post-preview-poetry #first-post .post-title {font-size: 20px!important;}
    }
}
