---
layout: layout
---
<%- css('css/specialize/poetry') %>
<div class="poetry-container">
    <!--导航黑色-->
        <div class="poetry-head"></div>
    <!--主内容-->
        <div class="poetry-content">
            <h2>
                <span>
                    <%= page.title %>
                </span>
            </h2>
            <%- page.content %>
        </div>
    <!--多说评论-->
        <div class=" col-lg-6 col-lg-offset-3
                        col-md-8 col-md-offset-2
                        col-sm-10 col-sm-offset-1
                        col-xs-12" >
            <hr>
            <%- partial('_partial/comment') %>
        </div>
</div>
