<%if(theme['list_categories']) { %>
    <div class="widget categories">
    <% if (site.categories.length){ %>
        <h5 ><i class="fa fa-folder-o"></i> <%= __('categories') %></h5>
        <div class="tags">
        <% site.categories.sort('name').each(function(item){ %>
            <a href="<%- config.root %><%- item.path %>"><%= item.name %></a>
        <% }); %>
        </div>
    <% } %>
    </div>
<% } %>
