@import '_parts/variable'

@import '_parts/base'
@import '_parts/navbar'
@import '_parts/sidebar'
@import '_parts/post'
@import '_parts/page'
@import '_parts/tags'
@import '_parts/comment'

@import '_parts/button'
@import '_parts/widgets'
