/* Hux customize Style for Duoshuo */
.comment {
    margin-top: 20px;
}

.comment #ds-thread #ds-reset a.ds-like-thread-button {
    border: 1px solid #ddd;
    background: white;
    box-shadow: none;
    text-shadow: none;
}

.comment #ds-thread #ds-reset li.ds-tab a.ds-current {
    border: 1px solid #ddd;
    background: white;
    box-shadow: none;
    text-shadow: none;
}

.comment #ds-thread #ds-reset .ds-textarea-wrapper {
    background: none;
}

.comment #ds-thread #ds-reset .ds-gradient-bg {
    background: none;
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a {
    background: white !important;
}
