.title-img {
    position: absolute;
    height:0;
    width:0;
}

/*点击博文内部的目录时,跳转到指定标题*/
article .post-container {
    h1,h2,h3,h4,h5,h6 {
        margin-top:-90px;
        padding: 100px 0 0;
    }
    h2 {font-weight: 600;}
}

article blockquote footer {padding: 5px 20px 0;}

.post-container {
    a {color: #337ab7;}
    h5 + p {margin-top: 5px;}
    h6 + p {margin-top: 5px;}
    ul, ol {
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {padding-left: 30px;}
        @media screen and (max-width: 500px) {padding-left: 20px;}
        ol,ul {margin-bottom: 5px;}
    }
    li {
        p {
            margin: 0;
            margin-bottom: 5px;
        }
        h1,h2,h3,h4,h5,h6 {
            line-height: 2;
            margin-top: 20px;
        }
    }
    /* Hux make all img responsible in post-container */
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 1.5em auto 1.6em auto;
    }
}

.post-title-haojen {
    display: none;
}

.post-title-fixed {
    display: block;
    position: fixed;
    top: -40px;
    width: 100%;
    z-index: 6;
    text-align: center;
    white-space: nowrap;
    left: 0;
    span {
        display: inline-block;
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        top:57px;
        @media screen and (max-width: 1049px) {
            max-width: 180px;
            font-size: 15px;
            margin-left: -160px;
        }
        @media screen and (max-width: 880px) , screen and (min-width: 770px) {display: none;}
        @media screen and (max-width: 768px) {
            max-width: 160px;
            font-size: 14px;
            margin-left: 0;
            top: 59px;
            display: inline-block;
        }
        @media screen and (max-width: 500px) {
            display: none;
            top:57px;
        }
    }
}
